<div class="row">
    <div class="alert alert-success" role="alert">
      Office365 Active Users <span class="badge badge-secondary">55,000</span>
    </div>
    <div class="alert alert-success" role="alert">
        Outlook Active Users <span class="badge badge-secondary">65,780</span>
      </div>
      <div class="alert alert-success" role="alert">
          Teams Active Users <span class="badge badge-secondary">45,450</span>
        </div>
        <div class="alert alert-success" role="alert">
            Yammer Active Users <span class="badge badge-secondary">33,760</span>
          </div>
</div>